* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  overflow: hidden;
  color: red;
}

.page-container {
  min-height: 100vh;
  width: 100%;
  background: #131414;
  background-image: linear-gradient(135deg, #131414 0%, #000000 100%);
  transform-style: preserve-3d;
  overflow: hidden;
}

.nav-section {
  padding: 20px;
}

.logo {
  width: 200px;
}
