:root {
  --times: 0.05s;
  --letter-spacing: 2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

.page-container {
  max-height: 100vh;
  width: 100%;
  background: #000;
  background-image: linear-gradient(135deg, 0%, #000 #000 100%);
  transform-style: preserve-3d;
  overflow: hidden;
}

/* .nav-section {
  padding: 20px;
} */
.name-title {
  font-family: "Rubik", sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
}

.name-sub {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.logo {
  width: 150px;
  padding: 15px;
}
.nav-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 5rem;
}
/* Positioning of the hamburger Menu */
.nav-menu {
  max-width: 70rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

/* Creating the hamburger menu */
.hamburger-menu {
  width: 3rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
/* Creating the first bar line */
.three-bars {
  width: 2rem;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: relative;
}
.three-bars::before,
.three-bars::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: #fff;
  transition: 0.5s;
}

.three-bars::before {
  transform: translateY(-10px);
}

.three-bars::after {
  transform: translateY(10px);
}
/* Big image container section */
.bg-image-container {
  overflow: hidden;
}

.bg-image-inner-container {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background-image: url("/images/testing-image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
  position: relative;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.generic-btn {
  font-size: 1.5rem;
  display: inline;
  padding: 15px;
  color: whitesmoke;
  border: 2px solid #663399;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all 0.75s ease-in-out;
}

.generic-btn:hover {
  border: 2px solid whitesmoke;
  color: #663399;
}

/* Rotating the hamburger button */
.page-container.active .three-bars {
  transform: rotate(360deg);
  background: transparent;
  z-index: -10;
}

.page-container.active .three-bars::before {
  transform: translateY(0) rotate(45deg);
}

.page-container.active .three-bars::after {
  transform: translateY(0) rotate(-45deg);
}

.page-container.active .bg-image-inner-container {
  animation: main-animation 0.6s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateY(10px)
    translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }
  to {
    transform: perspective(1300px) rotateY(20deg) translateY(10px)
      translateZ(310px) scale(0.5);
  }
}

/* Nav Links */
.navigation-links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

ul {
  list-style: none;
}

.navigation-links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.navigation-links a:hover {
  color: purple;
}

.page-container.active .navigation-links a {
  animation: appear 0.4s forwards ease var(--times);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

/* Typed Text effect */

.typed-text {
  color: #663399;
  font-size: 40px;
  letter-spacing: var(--letter-spacing);
}

.job-title {
  font-size: 30px;
  letter-spacing: var(--letter-spacing);
}

/* 
============
Section
============
 */
.section {
  padding: 3rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section-divider {
  margin: 0 auto;
  width: 30%;
  border: 3px solid #a020f0;
  border-radius: 3px;
}

/* 
============
About Me
============
 */

nav {
  padding: 20px 0;
}
.my-logo {
  max-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav .nav-link {
  display: inline;
  line-height: 40px;
  margin-left: 20px;
}

.nav-link a:hover {
  border-bottom: 2px solid #fff;
}

.nav-link.active a {
  color: #adff2f;
}

nav a {
  text-decoration: none;
}

.about-bg {
  background: #000;
}

.about-heading {
  color: #adff2f;
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: var(--letter-spacing);
}

.about-heading::after {
  content: "";
  width: 15%;
  border: 2px solid #663399;
  border-radius: 5px;
  position: relative;
  display: block;
  margin: 5px auto;
}

.about-navigation--links a {
  color: #522d80;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}
.about-me--container {
  padding: 80px 50px;
}
.about-section-content {
  padding: 0 1rem;
}

.about--info {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

.about--img-container {
  position: relative;
  margin-left: 100px;
}

.about--img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #663399;
  box-sizing: border-box;
  bottom: 3rem;
  /* left: -1.6rem; */
  right: -1.6rem;
  padding: 0 1.5rem;
}

.about--img {
  position: relative;
  border: 3px solid #bfff00;
  border-radius: 10px;
}

.resume-btn {
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 2rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #adff2f;
  position: relative;
  left: 3rem;
}

.resume-text {
  position: relative;
  right: 15px;
  color: #fff;
  text-transform: uppercase;
}

.project-btn {
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 2rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #adff2f;
  position: relative;
  bottom: 6.2rem;
  left: 12rem;
}

.project-btn:hover,
.resume-btn:hover {
  border: 2px solid #a020f0;
  transform: scale(1.2);
}

.project-text {
  position: relative;
  right: 20px;
  color: #fff;
  text-transform: uppercase;
}

/* 
==============
Skills & Tech
==============
 */

.skill-tech,
.certificates {
  font-size: 2.4rem;
  color: #adff2f;
  letter-spacing: var(--letter-spacing);
}

.skill-tech::after {
  content: "";
  width: 15%;
  border: 2px solid #663399;
  border-radius: 5px;
  position: relative;
  left: 4.2rem;
  display: block;
  margin-top: 0.2rem;
}

.skill--container p {
  font-size: 1.2rem;
  color: #522d80;
  margin-top: 0.5rem;
}

.skill--icon {
  font-size: 4.5rem;
  /* color: #e5e4e2; */
  color: #a8a9ad;
}

/* 
=============
Certificates
=============

*/

.certificates::after {
  content: "";
  width: 8%;
  border: 2px solid #663399;
  border-radius: 5px;
  display: block;
  position: relative;
  left: 2.2rem;
  margin-top: 0.2rem;
}

/* 
============
Social Links
============
 */

.social-link {
  font-size: 2rem;
  position: relative;
  top: 200px;
  left: 500px;
}

.social-icon {
  color: #663399;
  text-decoration: none;
  padding: 0 0.5rem;
}

.social-icon:hover {
  color: #8b008b;
}
