:root {
  --times: 0.05s;
  --letter-spacing: 2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}
ul {
  list-style: none;
}

h1,
h2 {
  font-family: "Rubik", sans-serif;
}

.my-logo {
  max-height: 40px;
}

/* 
============
   HOME
============
 */

.bg--img {
  min-height: 100vh;
  background: linear-gradient(#000000eb, #050008d1),
    url("/images/testing-image3.jpg") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero--container {
  margin: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero--content {
  text-align: center;
}

.home-title {
  font-weight: 800;
  font-size: 5.2rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  text-shadow: 2px 0 #522d80, -2px 0 #522d80, 0 2px #522d80, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.home-sub-title {
  color: aliceblue;
  font-weight: 400;
  font-size: 2.8rem;
  letter-spacing: var(--letter-spacing);
}

.home-sub-title-span {
  color: #bfff00;
}

.location--heading {
  color: aliceblue;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: var(--letter-spacing);
}

.location-span {
  color: #663399;
}
/* Glowing effect buttons */

.home-btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .home-btn svg {
  vertical-align: middle;
} */

.home-btn {
  --thickness: 0.4rem;
  --roundness: 0.2rem;
  --color: white;
  --opacity: 0.6;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  background: none;
  /*   background: purple; */
  border: 2px solid green;
  border-radius: var(--roundness);
  color: var(--color);
  cursor: pointer;
  display: block;
  font-weight: 300;
  padding: 0.8rem 0.5rem;
  position: relative;
}
.home-btn:hover {
  /*   background: green; */
  filter: brightness(1.2);
}

.home-btn h3 {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: var(--letter-spacing);
}

.home-btn svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.home-btn rect {
  fill: none;
  stroke: var(--color);
  stroke-width: var(--thickness);
  /* rx: var(--roundness); */
  stroke-linejoin: round;
  stroke-dasharray: 185%;
  stroke-dashoffset: 80;
  -webkit-animation: snake 2s linear infinite;
  animation: snake 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}
.home-btn:hover rect {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: var(--opacity);
}
@-webkit-keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
@keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}

.btn--container {
  margin: 6rem 1rem;
}

.projects {
  text-decoration: none;
}

/* 
  ============
  Section
  ============
   */

.section {
  padding: 2rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section-divider {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 30%;
  border: 3px solid #bf00ff;
  border-radius: 3px;
}

/* 
  ============
  About Me
  ============
   */

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav .nav-link {
  display: inline;
  line-height: 40px;
  margin-left: 20px;
}

.nav-link a:hover {
  border-bottom: 2px solid #fff;
}

.nav-link.active a {
  color: #adff2f;
}

nav a {
  text-decoration: none;
}

.about-bg {
  background: #000;
}

.about-heading {
  color: #adff2f;
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--letter-spacing);
}

.about-navigation--links a {
  color: #522d80;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}
.about-me--container {
  padding: 80px 50px;
}
.about-section-content {
  padding: 0 1rem;
}

.about--info {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.about--img-container {
  position: relative;
  margin-left: 100px;
}

.about--img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #663399;
  box-sizing: border-box;
  bottom: 3rem;
  right: -1.6rem;
  padding: 0 1.5rem;
}

.about--img {
  position: relative;
  border: 3px solid #bfff00;
  border-radius: 10px;
}

.resume-btn {
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 2rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #adff2f;
  position: relative;
  left: 3rem;
}

.resume-text {
  position: relative;
  right: 15px;
  color: #fff;
  text-transform: uppercase;
}

.project-btn {
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 2rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #adff2f;
  position: relative;
  bottom: 6.2rem;
  left: 12rem;
}

.project-btn:hover,
.resume-btn:hover {
  border: 2px solid #a020f0;
  transform: scale(1.2);
}

.project-text {
  position: relative;
  right: 20px;
  color: #fff;
  text-transform: uppercase;
}

/* 
  ==============
  Skills & Tech
  ==============
   */

.skill-tech,
.certificates {
  color: #adff2f;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  text-align: center;
}

.skill--container p {
  font-size: 1.2rem;
  color: #522d80;
  margin-top: 0.5rem;
}

.skill--icon {
  font-size: 4.5rem;
  color: #a8a9ad;
}

/* 
  =============
  Certificates
  =============
  
  */
.certificate--container {
  padding: 2.4rem;
}

.border--img {
  border: 70px solid;
  border-image: url(/images/polaroid-border.png) 300;
}

.certificate--inner-img {
  position: relative;
}

.certificate--outer-img:hover img {
  opacity: 0.2;
  cursor: pointer;
}

.certificate--outer-img:hover .view-btn {
  opacity: 1;
}

.view-btn {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view-certificate {
  border: 3px solid #adff2f;
  color: purple;
  padding: 3rem;
  display: block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.view-certificate:hover {
  text-decoration: none;
  color: purple;
  transform: scale(1.05);
}

.cert-text {
  position: relative;
  top: -20px;
  right: 20px;
}

.tech-icons {
  color: #8b008b;
  display: flex;
  position: relative;
  top: 30px;
  left: 50px;
}

.tech-icons-1 {
  display: flex;
  position: relative;
  top: 30px;
  left: 10px;
}

.tech-icons-1 i {
  font-size: 25px;
  margin-left: 10px;
}

.tech-icons-2 {
  display: flex;
  position: relative;
  top: 30px;
  left: 65px;
}

.tech-icons-2 i {
  margin-left: 5px;
}

.tech-icons-3 {
  display: flex;
  position: relative;
  top: 30px;
  left: 62px;
}

.tech-icons-3 i {
  margin-left: 5px;
}

.tech-icons i {
  font-size: 25px;
  margin-left: 10px;
}

.api--icon {
  margin-left: 10px;
}
/* 
  ===============
  PROJECTS
  ===============
  */

.project--paragraph {
  margin-top: 3rem;
  padding: 2rem;
}

.workshop-paragraph {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  color: aliceblue;
}

.workshop-paragraph a {
  text-decoration: none;
}

.workshop-paragraph a:hover {
  color: #8b008b;
}

.responsive--container {
  border-radius: 8px;
  padding: 1rem;
}

.responsive--img {
  border: 2px solid #adff2f;
  border-radius: 10px;
}

.project--heading {
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #adff2f;
  letter-spacing: 2px;
}

.project-heading {
  font-size: 1.8rem;
  font-weight: 300;
  color: #e6e8fa;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
}

.project-wrapper {
  padding-top: 3rem;
}

.desc-paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 1rem 0;
  color: aliceblue;
}

.desc-paragraph a {
  text-decoration: none;
}

.desc-paragraph a:hover {
  color: #8b008b;
}

.img--container {
  padding: 2rem;
}

.project--img {
  border-radius: 25px;
  border: 3px solid #8b008b;
  margin-top: 1.3rem;
}

.project-btn--container {
  display: flex;
  justify-content: left;
  position: relative;
  right: 10px;
  top: -90px;
}

.project-tech-icon {
  font-size: 2rem;
  color: #a8a9ad;
  margin-top: 0.5rem;
}

.project-tech-icon small {
  position: relative;
  top: -5px;
  font-size: 1.5rem;
}

/* Glowing effect buttons */

.home-btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-button svg {
  vertical-align: middle;
}

.project-button {
  --thickness: 0.4rem;
  --roundness: 0.2rem;
  --color: white;
  --opacity: 0.6;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  background: none;
  border: 2px solid green;
  border-radius: var(--roundness);
  color: var(--color);
  cursor: pointer;
  display: block;
  font-weight: 300;
  padding: 0.5rem 0.8rem;
  position: relative;
}
.project-button:hover {
  /*   background: green; */
  filter: brightness(1.2);
}

.project-button h3 {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing);
}

.project-button svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.project-button rect {
  fill: none;
  stroke: var(--color);
  stroke-width: var(--thickness);
  /* rx: var(--roundness); */
  stroke-linejoin: round;
  stroke-dasharray: 185%;
  stroke-dashoffset: 80;
  -webkit-animation: snake 2s linear infinite;
  animation: snake 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}
.project-button:hover rect {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: var(--opacity);
}
@-webkit-keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
@keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}

.btn--container {
  margin: 6rem 1rem;
}

.projects {
  text-decoration: none;
}

/* 
=========================
Working Progress Projects
=========================
 */

.working-progress--container {
  display: flex;
  justify-content: center;
}

.working-progress--projects {
  text-align: center;
  color: #adff2f;
  margin-bottom: 1.3rem;
}

.sub-project--heading {
  font-size: 1.6rem;
  color: #e6e8fa;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 5rem;
  letter-spacing: var(--letter-spacing);
}

.working-img--container {
  margin: 2rem 0;
}

.working--img {
  border-radius: 25px;
  border: 3px solid #8b008b;
}

.working-progress-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.wrk-progress-info {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  color: aliceblue;
}

/* 
======================
Contact Me
======================
 */

.contact--banner {
  margin: 2rem 2rem;
  padding: 3rem;
  position: relative;
}

.contact--banner img {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-title {
  text-shadow: 2px 0 #522d80, -2px 0 #522d80, 0 3px #522d80, 0 -3px #fff,
    3px 3px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.contact-social--icon {
  font-size: 3rem;
  padding: 0 5rem;
  color: #a020f0;
}

.contact-social--icon:hover {
  color: #e6e8fa;
}

.contact-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
/* 
  ============
  Social Links
  ============
   */

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  top: 200px;
  left: 500px;
}

.social--icon {
  color: #663399;
  text-decoration: none;
  line-height: 1.5;
  display: block;
  border: 2px solid #a020f0;
  width: 10px;
  height: 60px;
  border-radius: 100px;
  transform: scale(0.5, 0.5);
  overflow: hidden;
  padding: 30px;
  margin-left: -15px;
}

.social--icon i {
  position: relative;
  bottom: 26px;
  right: 15px;
}

.cv--icon {
  position: relative;
  bottom: 25px;
  right: 15px;
}

.social--icon:hover {
  color: #adff2f;
}

/* 
===================
 SCROLL BTN
===================
 */

.scrollToTopBtn {
  background-color: black;
  border: 3px solid green;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  line-height: 40px;
  width: 50px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.scroll-btn--icon {
  text-align: center;
  font-size: 1.5rem;
  color: #8b008b;
}

/* 
  ==============
  Footer
  ==============
   */

.footer--container {
  display: flex;
  justify-content: center;
  padding: 1.2rem 1.2rem;
}

.footer-icons {
  margin-left: -20px;
}
.social-icon {
  font-size: 40px;
}

.social-icon:hover {
  color: #fff;
}

.social-icon i {
  position: relative;
  bottom: 32px;
  right: 17px;
}

.resume-icon {
  font-size: 30px;
  position: relative;
  bottom: 33px;
  right: 40px;
}

.resume-highlight:hover {
  color: #adff2f;
}

.footer-icons a {
  text-decoration: none;
}

/* Pulse effect CSS Styles */

.pulse-btn {
  color: #a020f0;
  cursor: pointer;
  line-height: 1.5;
  display: block;
  border: 2px solid #a020f0;
  width: 10px;
  height: 60px;
  border-radius: 100px;
  transform: scale(0.5, 0.5);
  overflow: hidden;
  padding: 52px;
  position: relative;
}

.pulse-btn:hover {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em transparent;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #adff2f;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #adff2f;
  }
}

/* 
******************************************************
                    MEDIA QUERIES
******************************************************
 */

@media screen and (max-width: 600px) {
  .hero--container {
    margin: 4rem 0;
  }
  .bg--img {
    background: linear-gradient(#000000eb, #050008d1),
      url("/images/testing-image3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
  }
  .my-logo {
    width: 40px;
  }
  .about-navigation--links a {
    padding: 0;
    font-size: 15px;
  }

  .home-title {
    font-size: 2rem;
  }

  .home-sub-title {
    font-size: 1.2rem;
  }

  .location--heading {
    font-size: 1rem;
  }

  .home-btn {
    padding: 0.3rem 0.4rem;
  }

  .home-btn h3 {
    font-size: 1rem;
  }

  .footer--container {
    margin: 0 4rem;
  }

  .footer-icons {
    margin-left: 0;
  }

  .pulse-btn {
    line-height: 1.5;
    display: block;
    width: 3px;
    height: 30px;
    padding: 41px;
  }

  .resume-icon {
    font-size: 28px;
  }

  .about--img-container::before {
    border: none;
  }

  .about--img-container {
    position: relative;
    margin: 2rem auto;
  }

  .about-me--container {
    padding: 50px 20px;
  }

  .about--info {
    font-size: 0.8rem;
    padding: 2rem 0;
  }

  button.scrollToTopBtn.showBtn {
    display: none;
  }

  .about-btn--container {
    position: relative;
    right: 45px;
  }

  .resume-btn {
    font-size: 14px;
    padding: 2rem;
    width: 50px;
    height: 50px;
  }

  .project-btn {
    font-size: 14px;
    padding: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: -68px;
  }

  .resume-text {
    position: relative;
    right: 20px;
    bottom: 12px;
  }

  .project-text {
    position: relative;
    right: 25px;
    bottom: 10px;
  }

  .about-heading {
    font-size: 1.8rem;
  }

  .skill-tech {
    font-size: 1.4rem;
  }

  .certificates {
    font-size: 1.7rem;
  }

  .border--img {
    border: 2px solid #8b008b;
  }

  .project--heading {
    font-size: 2.2rem;
  }

  .workshop-paragraph {
    font-size: 0.8rem;
  }

  .project-heading {
    text-align: center;
    font-size: 1.1rem;
  }

  .desc-paragraph {
    font-size: 1rem;
  }

  .project--description {
    padding: 0 0.4rem;
  }

  .project-button {
    padding: 0.4rem 0.4rem;
  }

  .project-button h3 {
    font-size: 1rem;
  }

  .sub-project--heading {
    text-align: center;
    font-size: 1.2rem;
  }

  .wrk-progress-info {
    font-size: 1.1rem;
  }
}
