/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of main #bfff00 color*/
  --clr-dark-1: #99cc00;
  --clr-dark-2: #86b300;
  --clr-dark-3: #739900;
  --clr-dark-7: #4c6600;
  /* dark shades of main #522d80 color*/
  --clr-dark-4: #422466;
  --clr-dark-5: #391f5a;
  --clr-dark-6: #311b4d;
  /* main color */
  --clr-main-1: #522d80;
  --clr-main-2: #bfff00;
  /* lighter shades of main #522d80 color */
  --clr-light-1: #63428d;
  --clr-light-2: #755799;
  --clr-light-3: #866ca6;
  --clr-light-4: #9781b3;
  --clr-light-5: #eeeaf2;

  /* lighter shades of main #bfff00 color */
  --clr-light-6: #d9ff66;

  /* lighter shades #522d80 used for paragraphs */
  --clr-paragraph-1: #dcd5e6;
  --clr-paragraph-2: #eeeaf2;

  /* Accent Color */
  --accent-1: #7d007d;
  --accent-2: #610061;

  --color-white: #fff;

  /* Background color */
  --clr-black: #000000;
  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: "Oswald", sans-serif;
  --transition: all 0.4s linear;
  --letter-spacing: 0.22rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 25px rgba(238, 234, 242, 0.349);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --custom-cursor: url(/assets/images/icons8-hand-cursor-64.png), auto;
}
/*
  =============== 
  Global Styles
  ===============
  */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* Apart from Logo*/
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
#canvas1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.particle-container {
  width: 100%;
}

.logo:hover {
  cursor: var(--custom-cursor);
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--color-white);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--color-white);
  background: var(--clr-black);
}

.cursor-btn:hover {
  cursor: var(--custom-cursor);
}

/* Custom classes Mobile first*/
.home-title {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 2.2rem;
  color: var(--clr-black);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  text-shadow: 2px 0 var(--clr-main-1), -2px 0 var(--clr-main-1),
    0 2px var(--clr-main-1), 0 -2px var(--color-white),
    1px 1px var(--color-white), -1px -1px var(--color-white),
    1px -1px var(--color-white), -1px 1px var(--color-white);
}

.job-title {
  font-family: var(--ff-secondary);
  color: var(--clr-paragraph-1);
  font-size: 1.3rem;
}

.btn-container {
  margin-top: 2.8rem;
}

.btn-white {
  color: var(--clr-light-5);
  border-color: var(--clr-light-5);
  font-size: 1.4rem;
  border-radius: 0;
  padding: 1.2rem 1.2rem;
}
.btn-white:hover {
  background: var(--clr-light-6);
  color: var(--clr-black);
  cursor: var(--custom-cursor);
}

/* ================
    About section
  ================== */

.about-section,
.project-section {
  padding: 0.25rem 0;
  background-color: #311b4d7c;
}

.about--img-container {
  max-width: 40%;
  /* height: 100px; */
  margin: 0.5rem auto;
}
.about--img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

article {
  margin-bottom: 0.2rem;
}

.about-sub-heading {
  color: var(--clr-light-4);
  font-size: 1.2rem;
}

.about-info-container {
  margin: 1.2rem 1.3rem;
}

.about-info {
  color: var(--color-white);
  font-size: 1.1rem;
}

.followers {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.follower-imgs {
  display: flex;
}

.follower-imgs img {
  height: 3.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #0acb27;
}

.followers-text {
  color: var(--clr-paragraph-1);
  font-size: 1.1rem;
  font-weight: 600;
}

.followers-text span {
  color: var(--clr-main-2);
  font-weight: 700;
}

/* ================
    Skills section
  ================== */
.skills-text-container,
.project-text-container {
  margin: 1.2rem;
  padding: 0.85rem 0.35rem;
}

.skills-text,
.project-text {
  font-size: 0.85rem;
  color: var(--clr-paragraph-2);
  padding: 0.35rem;
}

.scroller-container {
  display: grid;
  min-block-size: 40vh;
  place-content: center;
  font-family: var(--ff-secondary);
  font-size: 1.125rem;
  background-color: var(--clr-black);
}

.scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.icon-list li {
  padding: 1rem;
  color: #dcd5e6;
  background: #222;
  border-radius: 0.25rem;
  box-shadow: rgba(200, 200, 180, 0.5) 0px 2px 8px 0px;
}

.skill-icon-container {
  width: 150px;
  height: 150px;
  background-color: var(--clr-dark-6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.skill-icon-container i {
  font-size: 4rem;
  color: var(--clr-dark-3);
}

.skill--icon {
  font-size: 4rem;
  color: var(--clr-paragraph-1);
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 65s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* Project Section */
.about-img {
  margin-bottom: 2rem;
}
.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  /* height: 20rem; */
}
.project-center {
  width: 90vw;
  margin: 0 0.5rem;
}

.about {
  background: #eeeaf2;
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 1rem;
}

.content p {
  font-size: 0.8rem;
}

.btn--container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(2) {
  border-top-right-radius: var(--radius);
}

.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  display: block;
  background: #b6a7ca;
  color: #222;
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: #eeeaf2;
}
.content.active {
  display: block;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.projects {
  font-size: 3rem;
  color: #739900;
}

.projects:hover {
  cursor: var(--custom-cursor);
}
.tech-heading {
  margin-top: 1rem;
}

.skills-wrapper {
  display: flex;
  gap: 0.3rem;
}

.skill-icon--container {
  width: 45px;
  height: 45px;
  background-color: #311b4d;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   border-radius: 0.25rem; */
}

.skill-icon--container i {
  font-size: 2rem;
  color: #739900;
}
/* CERTIFICATE SECTION */
.certificate--container {
  max-width: 1170px;
  margin: 0 1rem;
  background-color: #9781b3;
  padding: 2rem;
  border-radius: 0.25rem;
}

.border--img {
  border: 70px solid;
  border-image: url(../images/polaroid-border.png) 300;
}

.certificate--inner-img {
  position: relative;
}

.certificate--outer-img:hover img {
  opacity: 0.2;
  cursor: url(../images/icons8-hand-cursor-64.png), default;
}

.certificate--outer-img:hover .view-btn {
  opacity: 1;
}

.view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  opacity: 0;
}

.view-certificate {
  /* background-color: #739900; */
  background: transparent;
  color: #000;
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.view-certificate:hover {
  text-decoration: none;
  color: #fff;
  transform: scale(1.05);
  cursor: url(../images/icons8-hand-cursor-64.png), default;
}

.cert-btn {
  border: none;
  padding: 0.85rem 1.1rem;
  font-size: 0.925rem;
  background-color: #000;
  color: #fff;
  border-radius: 0;
}

.cert-btn:hover {
  cursor: url(../images/icons8-hand-cursor-64.png), default;
}

/* CONTACT ME SECTION */
form {
  max-width: 420px;
  margin: 50px auto;
}

.form-container {
  max-width: 500px;
  margin: 1.3rem 1rem;
  background-color: #222;
  padding: 0.75rem;
}

.feedback-input {
  color: var(--clr-paragraph-2);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid var(--clr-light-1);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid var(--clr-dark-3);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: var(--ff-secondary);
  width: 100%;
  background: var(--clr-light-1);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: var(--clr-paragraph-2);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: var(--clr-dark-2);
  cursor: var(--custom-cursor);
}

/*
  =============== 
  Animated Scroll
  ===============
  */
/* navbar */
nav {
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-black);
  box-shadow: var(--light-shadow);
  z-index: 99999;
}
.fixed-nav .links .nav-link {
  font-size: 1.4rem;
  color: var(--accent-2);
}
.fixed-nav .links .nav-link:hover {
  color: var(--clr-light-1);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-dark-3);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-light-1);
}
.logo {
  height: 40px;
  z-index: 10000;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  z-index: 99999;
}
.show-links {
  height: 200px;
}
/* NAVIGATION LINK */

.links .nav-link {
  color: var(--accent-2);
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  display: block;
  transition: var(--transition);
  margin: 0 0.5rem;
  font-weight: bold;
  padding: 0.75rem 0;
}
.links .nav-link:hover {
  color: var(--clr-light-1);
}

/* hero Section*/
header {
  min-height: 100vh;
  background: linear-gradient(#000000eb, #050008d1),
    url(../images/hero-bg-img.jpg) center/cover no-repeat;
}
.banner {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.container {
  position: absolute;
  top: 180px;
  z-index: 10000;
}

/* sections and title */

.about-heading,
.skills-heading,
.project-heading,
.certificates-heading,
.contact-heading {
  color: var(--clr-dark-1);
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.footer-container {
  background: var(--clr-dark-7);
  padding: 1rem;
}
.footer-container p {
  color: var(--clr-black);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.f-social-icon,
.cv-icon {
  color: var(--clr-dark-5);
  font-size: 2.2rem;
}

.f-social-icon:hover,
.cv-icon:hover {
  color: var(--accent-2);
  cursor: var(--custom-cursor);
}

.instagram-icon,
.github-icon {
  display: flex;
  align-items: center;
  gap: 0.23rem;
}

.social-icon {
  color: var(--clr-dark-1);
  font-size: 1.1rem;
}

.social-link {
  color: var(--clr-light-3);
}

.social-link:hover {
  color: var(--accent-2);
  cursor: var(--custom-cursor);
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-dark-3);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-light-5);
  animation: bounce 2s ease-in-out infinite;

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/*
  =================================
  Media Queries: Desktop & Laptops
  =================================
  */

@media screen and (min-width: 992px) {
  .home-title {
    font-size: 5.4rem;
  }
  .job-title {
    font-size: 3rem;
  }

  .about--img-container {
    max-width: 60%;
    margin-top: 1rem;
  }

  .about--img {
    margin: 3.8rem auto;
  }

  .project-text {
    font-size: 1.3rem;
  }

  .about-info,
  .skills-text {
    font-size: 1.2rem;
  }

  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .certificate--container {
    margin: 2rem auto;
  }

  .form-container {
    margin: 2rem auto;
  }
}

@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }

  .links .nav-link {
    padding: 0;
  }

  .home-title {
    font-size: 5.1rem;
  }

  .job-title {
    font-size: 2.9rem;
  }

  .btn-white {
    font-size: 1.6rem;
    border-radius: 0;
    padding: 1.3rem 1.2rem;
  }

  .about-center {
    margin: 0 auto;
  }

  .form-container {
    margin: 2rem auto;
  }
}

@media screen and (max-width: 800px) {
  .container p {
    max-width: 40rem;
  }

  .home-title {
    font-size: 4.1rem;
  }

  .job-title {
    font-size: 2.2rem;
  }

  .about-info {
    font-size: 2rem;
  }

  .home-title {
    font-size: 5rem;
  }

  .container {
    top: 360px;
  }

  .links .nav-link {
    font-size: 1.2rem;
  }

  .fixed-nav .links .nav-link {
    font-size: 1.2rem;
  }

  .about-center {
    margin: 0 auto;
  }

  .certificate--container {
    margin: 0 1rem;
  }

  .form-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .home-title {
    font-size: 2.2rem;
  }
  .container {
    top: 180px;
  }

  .about-center {
    margin: 0 auto;
  }

  .about-info {
    font-size: 0.75rem;
  }

  .about {
    margin: 2.2rem 0;
  }

  .form-container {
    margin: 1.1rem 1rem;
  }
}
